#overlay-popup-bg {
  position: fixed;
  display: none;
  background: #e2b404;
  opacity: 0.9;
  opacity: 0.1;
  z-index: 1;
  cursor: pointer;
}

#overlay-popup {
  position: fixed;
  background: #e2b404;
  border-radius: 20px;
  z-index: 2;
  left: 0;
  right: 0;
  top: 40px;
  bottom: 5rem;
  margin-left: 15rem;
  margin-right: 15rem;
  opacity: 0.98;
}

.cardItem {
  top: 2rem;
  bottom: 5rem;
  margin-left: 15rem;
  margin-right: 5rem;
}

.cardImg {
  width: 250px;
  display: flex;
  margin-left: 10rem;
  margin-bottom: 1rem;
}

.cardTitle {
  padding-bottom: 2rem;
  padding-left: 15rem;
}

#cancel-button {
  margin-left: 46rem;
  margin-top: 20px;
}
